{% extends "base.html" %}

{% block contents %}
<section class="pb_cover_v3 overflow-hidden cover-bg-indigo cover-bg-opacity text-left pb_gradient_v1 pb_slant-light"
  id="section-home">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-6">
        <h class="heading mb-1"><b>INTURNUP</b></h>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">

        <div class="sub-heading">
          <p class="mb-4"></P>
          <p class="mb-4"></P>
          <p class="mb-4"> 2019.07 </p>
          <p class="mb-4">INTURNUP 프로젝트를 통해 유니포인트 인턴들을 체계적으로 관리해주는 웹 페이지를 개발하였습니다.</p>
          <p class="mb-4">현재 웹을 통해 출근 및 퇴근 기록부, 보고서 작성 및 관리, 공지사항 열람 등의 기능을 사용할 수 있습니다. </p>
        </div>
      </div>
      <div class="col-md-1">
      </div>
      <div class="col-md-5 relative align-self-center">

        <div class="bg-white rounded pb_form_v1">
          <h2 class="mb-4 mt-0 text-center"></h2>
          {% if request.session.user %}
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue"
              onclick="location.href='/user/logout/'">Logout</button>
          </div>
          {% else %}
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue"
              onclick="location.href='/user/login/'">Login</button>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue"
              onclick="location.href='/admin/'">Admin Login</button>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue"
              onclick="location.href='/user/register/'">Join Button</button>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pb_section bg-light pb_slant-white pb_pb-250" id="section-features">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center mb-5">
        <h5 class="text-uppercase pb_font-15 mb-2 pb_color-dark-opacity-3 pb_letter-spacing-2"><strong>About us</strong>
        </h5>
        <h2>Developer</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-bookmarks-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Minimal Design</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and
              Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-speedometer-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Fast Loading</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and
              Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-infinite-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Unlimited Possibilities</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and
              Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-color-filter-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Component Based Design</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and
              Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-wineglass-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Clean Code</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and
              Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md- col-sm-6">
        <div class="media d-block pb_feature-v1 text-left">
          <div class="pb_icon"><i class="ion-ios-paperplane-outline pb_icon-gradient"></i></div>
          <div class="media-body">
            <h5 class="mt-0 mb-3 heading">Lightweight</h5>
            <p class="text-sans-serif">Far far away, behind the word mountains, far from the countries Vokalia and
              Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}