{% extends "base.html" %}

{% block contents %}
<section class="pb_cover_v3 overflow-hidden cover-bg-indigo cover-bg-opacity text-left pb_gradient_v1 pb_slant-light"
    id="section-home">
    <div class="bg-white rounded pb_form_v1">
        <div class="row mt-5">
            <p class="mb-4"></P>
            <p class="mb-4"></P>
            <p class="mb-4"></P>
            <div class="col-12 text-center">
                <h class="heading mb-1"><b>로그인</b></h>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                {{ error }}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2">
                <form method="POST" action=".">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input type="{{ field.field.widget.input_type }}" class="form-control"
                            id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" />
                    </div>
                    {% if field.errors %}
                    <span style="color:red">{{ field.errors }}</span>
                    {% endif %}
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">로그인</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}